body,html{
  width: 100%;
  background: black;
}

canvas{
  width: 100%;
  /*height: 7%;*/
  background: black;
}

.container{
  text-align: center;
  color: white;
  font-family: 'Cabin Sketch', cursive;
}
