
*{
  font-family: 'Raleway', cursive;
}

hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.h_image img{
  width: 100%;
}

.main_body{
  border: 20px hidden #f1f1f1;
  padding: 20px;
  /*width: 80%;*/
  margin: 20px 1.66%;
}

.left_border{
  border-left: 5px solid #bdc3c7;
  padding: 10px;
}

.header_text{
  /*margin-left: 1.66%;*/
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 3px solid #f1f1f1;
  padding-bottom: 20px;
  width: 30%
}

.image img{
  width: 30%;
  margin: 1.4%;
  clear: left;
}

/*span{*/
  /*font-size: 2em;*/
/*}*/

.crossed{
  text-decoration: line-through;
}

.best{
  text-decoration: underline;
  width: 20%;
  border: thin solid black;
  background: yellow;
}
